.mission-card {
  border: 1px solid yellow;
  border-radius: 6px;
  display: inline-block;
  font-size: medium;
  height: 10rem;
  margin: 0.3rem;
  width: 250px;
}

.mission-card:hover {
  background-color: rgba(200, 175, 0, 0.6);
}


.mission-name {
  font-size: 1rem;
  font-weight: 700;
}

hr {
  background-color: yellow;
  border-color: yellow;
  color: yellow;
}

.mission-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-top: 1.5rem;
}

.mission-info p {
  font-size: 0.65rem;
  margin: 0 5px;
}
