.mission-container {
  height: 250px;
  margin: auto;
  background-color: rgba(200, 175, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  overflow: auto;
  flex-basis: 200px;
  flex-grow: 0;
}