@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap') ;

.App {
  text-align: center;
}

body {
  background-color: black;
  background-image: url('./images/background.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(200, 175, 0);
  filter: sepia(0.6);
  font-family: Roboto Mono , monospace;
  font-size: 1.25rem;
  text-align: center;
}

.main {
  margin: auto;
  max-width: 80%;
}

footer {
  height: 3.125rem;
}
