.App {
  text-align: center;
}

body {
  background-color: black;
  background-image: url('./images/background.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(200, 175, 0);

  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: Roboto Mono;
  font-size: 20px;
  text-align: center;
}

.main {
  margin: auto;
  max-width: 80%;
}
