.App {
  text-align: center;
}

body {
  background-color: black;
  background-image: url('./images/background.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(200, 175, 0);
  filter: sepia(.6);
  font-family: Roboto Mono;
  font-size: 20px;
  text-align: center;
}

.main {
  margin: auto;
  max-width: 80%;
}

footer {
  height: 50px;
}