.planet-container {
  background-color: rgba(200, 175, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgb(200, 175, 0);
  border-radius: 6px;
  color: rgb(200, 175, 0);
  cursor: pointer;
  filter: sepia(.6);
  font-family: Roboto Mono;
  font-size: x-small;
  margin: 0 5px;
  text-align: center;
  height: 200px;
  width: 200px;
}

.planet-container:hover {
  background-color: rgba(200, 175, 0, 0.7);

}

.planet-img {
  max-width: 100%;
}
