.planets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.125rem;
}

.solar-system {
  color: rgb(200, 175, 0);
  text-align: center;
}

.planet-info {
  margin-bottom: 1.125rem;
}

.info-container {
  background-color: rgb(27, 26, 17);
  border: 1px solid yellow;
  border-radius: 10px;
  display: flex;
  flex-flow: row;
  height: fit-content;
}

.writer {
  margin: 6.2rem 0 0 1.125rem;
  text-align: left;
}
